{% extends "AppBundle::base.html.twig" %}

{% block title %}Справочник | 404 - страница не найдена{% endblock %}

{% block content %}

<div class="centered">
	
<p>Ошибка 404! Страница не найдена!</p>
<p>Воспользуйтесь навигационным меню для выбора необходимого справочника</p>


</div>

{% endblock content %}
